.content {
  border: rgb(3, 3, 3) solid 2px;
  background-color: rgb(255, 255, 255);
}

.wrapper {
  width: 100vw;
  height: calc(100vh - 70px);
  background-color: gray;
}

.map-name {
  position: absolute;
  left: 35px;
}
